<div class="header">
  <div class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button class="navbar-toggle collapsed" data-target="#js-navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li>
            <a class="pointer" ng-click="scrollTo('skills')">Skills</a>
          </li>
          <li>
            <a class="pointer" ng-click="scrollTo('achievements')">Achievements</a>
          </li>
          <li>
            <a class="pointer" ng-click="scrollTo('info')">Info</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row intro-row">
  <img class="blake fadeInDown" src="/images/blake.jpg">
  <div class="intro">{{type}}</div>
</div>
<div class="jagged"></div>
<div class="second">
  <div class="cursive container">
    <h3 id="skills">Skills</h3>
    <ul>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-javascript three-x"></i>
        <span class="onehalf-x">Javascript</span>
        <div>I love javascript. I like to write front-end code in angular and backbone.</div>
      </li>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-nodejs three-x"></i>
        <span class="onehalf-x">Node.js</span>
        <div>I love node and tend to write the majority of my backend services in node.</div>
      </li>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-php-alt three-x"></i>
        <span class="onehalf-x">PHP</span>
        <div>I worked on the Edmodo backend API which used a whole lot of PHP.</div>
      </li>
    </ul>
    <ul>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-ruby three-x"></i>
        <span class="onehalf-x">Ruby</span>
        <div>I've also written some backend services and testing scripts in ruby!</div>
      </li>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-postgres three-x"></i>
        <span class="onehalf-x">SQL</span>
        <div>I have lots of experience working with SQL and understand how to design complex and performant database schemas.</div>
      </li>
      <li class="col-sm-12 l col-lg-4 list">
        <i class="icon-cassandra three-x"></i>
        <span class="onehalf-x">NoSQL</span>
        <div>Huge fan of NoSQL. I've worked with couchdb, mongodb, and aerospike.</div>
      </li>
    </ul>
  </div>
</div>
<div class="third">
  <div class="cursive container">
    <h3 id="achievements">Achievements</h3>
    <ul>
      <li class="col-sm-12 col-lg-4 list edmodo">
        <img class="edmodo-img" src="/images/edmodo.png">
        <span class="onehalf-x">Edmodo</span>
        <div>I love javascript. I like to write front-end code in angular and backbone.</div>
      </li>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-nodejs three-x"></i>
        <span class="onehalf-x">Node.js</span>
        <div>I love node and tend to write the majority of my backend services in node.</div>
      </li>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-php-alt three-x"></i>
        <span class="onehalf-x">PHP</span>
        <div>I worked on the Edmodo backend API which used a whole lot of PHP.</div>
      </li>
    </ul>
    <ul>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-ruby three-x"></i>
        <span class="onehalf-x">Ruby</span>
        <div>I've also written some backend services and testing scripts in ruby!</div>
      </li>
      <li class="col-sm-12 col-lg-4 list">
        <i class="icon-postgres three-x"></i>
        <span class="onehalf-x">SQL</span>
        <div>I have lots of experience working with SQL and understand how to design complex and performant database schemas.</div>
      </li>
      <li class="col-sm-12 l col-lg-4 list">
        <i class="icon-cassandra three-x"></i>
        <span class="onehalf-x">NoSQL</span>
        <div>Huge fan of NoSQL. I've worked with couchdb, mongodb, and aerospike.</div>
      </li>
    </ul>
  </div>
</div>
<div class="second">
  <div class="cursive container">
    <h3 id="info">Contact Me</h3>
    <ul>
    <form name="email">
      <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid }" >
         <label class="control-label">Your email</label>
        <input ng-model="mailInfo.email" class="form-control email" name="email" required>
        <div>
        <label class="control-label">What's up?</label>
      </div>


        <textarea class="form-control" ng-model="mailInfo.message"></textarea>
        <div class="btn btn-warning" ng-click="sendMail(mailInfo)">Send Message</div>
      </div>
    </form>
  </ul>
  </div>
</div>
